<ul id="lists">
  <% @lists.each do |list| %>
    <li class="<%= list_class(list[:todos]) %>">
      <a href="/lists/<%= list[:list_id] %>">
        <h2><%= list[:name] %></h2>
        <p><%= display_num_completed_todos(list[:todos] )%></p>
      </a>  
    </li>
  <% end %>
</ul>

<% content_for :header_links do %>
  <a class="add" href="/lists/new">New List</a>
<% end %>
