<ul id="lists">
  <% @lists.each_with_index do |list, idx| %>
    <% if all_todos_completed?(list[:todos]) %>
    <li class="complete">
    <% else %>
    <li>
    <% end %>
      <a href="/lists/<%= idx %>">
        <h2><%= list[:name] %></h2>
        <p><%= display_num_completed_todos(list[:todos] )%></p>
      </a>  
    </li>
  <% end %>
</ul>

<% content_for :header_links do %>
  <a class="add" href="/lists/new">New List</a>
<% end %>
